<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="warn"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- Define where and how to write the log messages -->
    <targets>
        <!-- Write logs to file -->
        <target name="logfile" fileName="logs/app-${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,StackTrace}">
            <xsi:type>File</xsi:type>
        </target>

        <!-- Write logs to console -->
        <target name="logconsole"
                layout="${longdate} ${uppercase:${level}} ${message}">
            <xsi:type>Console</xsi:type>
        </target>
    </targets>

    <rules>
        <!-- Add rules for mapping loggers to targets -->
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>

</nlog>
